.box {
  padding: 4px; 
  text-align: center; 
  vertical-align: center; 
}
.header { height: 50px;}
.nav {  }
.content { flex: 1 1 40%;}
.toc {  }
.footer {  }

.box.first {margin-top: 200px;}

.page-front {
  .k-button {
    width: 80%;
    padding: 30px 0px;
    font-size: 2.5em;
  }
}